/* @import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap"); */

/* Background Image for Login Page */
.login-background {
  height: 100vh;
  width: 100vw;
  background-image: url("C:\Users\acer\OneDrive\Desktop\lab4WT\react-vite\frontend\public\images\loginpageimg.jpg"); /* Replace with actual path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Common Auth Styles */
.auth-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
  width: 350px;
}

.overlay-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn {
  background-color: rgb(120, 162, 126);
  color: white;
}

.signup-btn {
  background-color: rgb(152, 148, 139);
  color: white;
}

.login-btn:hover {
  background-color: rgb(167, 204, 145);
}

.signup-btn:hover {
  background-color: blanchedalmond;
}
